@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import "tailwindcss";

html {
    background-color: white;
}

.iceland-regular {
    font-family: "Iceland", sans-serif;
    font-weight: 400;
    font-style: normal;
}
